name: ci

# default values to use
env:
  greeting: 'Hello'
  n: 1

# run the workflow for different events
# on every commit
# and every morning
# and when we trigger the workflow manually
# and when we dispatch an event
on:
  push:
  workflow_dispatch:
    inputs:
      n:
        description: Magic number
        type: number
        default: 0
        required: false
      greeting:
        description: A greeting message
        type: string
        default: ''
        required: false
  schedule:
    # UTC time
    - cron: '0 7 * * *'
  repository_dispatch:
    types: [on-greeting]
jobs:
  greet:
    runs-on: ubuntu-20.04
    steps:
      - name: Set merged variables
        run: |
          echo "GREETING=${{ github.event.inputs.greeting || github.event.client_payload.greeting || env.greeting }}" >> $GITHUB_ENV
          echo "N=${{ github.event.inputs.n || github.event.client_payload.n || env.n }}" >> $GITHUB_ENV

      - name: Print workflow_dispatch inputs
        run: echo "${{ toJson(github.event.inputs) }}"

      - name: Print repository_dispatch inputs
        run: echo "${{ toJson(github.event.client_payload) }}"

      - name: Greeting
        run: echo "$GREETING to you $N times"
